* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #141e30, #243b55);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 25px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #243b55;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin: 5px;
}

input, select {
    width: 100%;
    padding: 16px;
    margin-top: 5px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    width: 48%;
    font-size: 18px;
    padding: 16px;
    border: none;
    border-radius: 5px;
    background: #243b55;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    transform: translateY(-5px);
    background: #141e30;
}

.output {
    margin-top: 15px;
    padding: 10px;
    background: #f2f2f2;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}
